@page "/daniboi"
@inject HttpClient Http

<h3>DaniBoi</h3>

@code {
    //private DestinyLinkedProfilesResponse[]? forecasts;

    //protected override async Task OnInitializedAsync()
    //{
    //    forecasts = await Http.GetFromJsonAsync<DestinyLinkedProfilesResponse[]>("WeatherForecast");
    //}
}
