@page "/ItemPage"
@using Components.Data
@inject HttpClient Http
@inject AuthenticationStateProvider _authenticationStateProvider



<PageTitle>Item Page</PageTitle>

<h3>General item page</h3>



@code {

}
